# Parameters vs Argument

In [2]:
def add_num(x,y):
    result = x+y
    return result
add_num(10, 30)

40

1)positional argument
2)keyword argument
3)default argument
4)variable length argument

# Positional Argument

In [9]:
def add_num(x,y):
    result = x+y
    return result
add_num(10, 30)

40

# Keyword Argument

In [24]:
def personal(job, income):
    print('job = ',job)
    print('income =' ,income)
personal(income=200000, job='data scientist')

job =  data scientist
income = 200000

# Default Argument

In [18]:
def personal(job, income=10000):
    print('job = ',job)
    
    print('income =' ,income)
personal('DATA SCIENTIST', 200000)

job =  DATA SCIENTIST
income = 200000

# Variable Length Argument

In [20]:
def add_num(*x):   #for * it will recv as tuple
    print(x)
    result = sum(x)
    return result
    
add_num(10, 30, 10, 1000,4000)

(10, 30, 10, 1000, 4000)

5050

In [22]:
def add_num(x, *y):
    print(x)
    print(y)
    
add_num(10, 30, 10, 1000,4000)

10
(30, 10, 1000, 4000)

# *args and **kwargs

In [27]:
def personal_data(name, *arg):
    print(name)
    print(arg)
    print(type(arg))

personal_data('Rashedul Alam Shakil', 'FAU','Erlangen')

Rashedul Alam Shakil
('FAU', 'Erlangen')
<class 'tuple'>

In [31]:
def personal_data(name, **arg):   #for ** item will rcv as dict
    print(name)
    print(arg)
    print(type(arg))
personal_data('Rashedul Alam Shakil', vrsity = 'FAU', city = 'Erlangen')

Rashedul Alam Shakil
{'vrsity': 'FAU', 'city': 'Erlangen'}
<class 'dict'>